@import '_variables.json';

.background-offwhite {
  background-color: map-get($color, offwhite);
}

.border-offgrey {
  border-color: map-get($color, offgrey);
}

.text-offgrey {
  color: map-get($color, offgrey);
}

.text-offwhite {
  color: map-get($color, offwhite);
}

.text-grey {
  color: map-get($color, grey);
}

.text-alert {
  color: map-get($color, offwhite);
}
