@import '_variables.json';

.serif {
  font-family: $serif;
}

.sans {
  font-family: $sansserif;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: map-get($web, fontSmall);
}

.medium {
  font-size: map-get($web, fontMedium);
}

.large {
  font-size: map-get($web, fontLarge);
}

.huge {
  font-size: map-get($web, fontHuge);
}
