.button {
  composes: medium sans from './_typography.scss';
  composes: grey from './_colors.scss';
  transition: opacity 200ms ease-out;
  border: 1px solid map-get($color, offgrey);
  border-radius: 50%;
  outline: none;
  background: transparent;
  width: 4em;
  height: 4em;
  margin: 0 10px;
  cursor: pointer;
  user-select: none;

  &:active {
    opacity: 0.2;
  }

  &:disabled {
    color: map-get($color, grey);
    border-color: map-get($color, offgrey);
    opacity: 0.4;
    cursor: auto;
  }
}
