.label {
  composes: sans medium from "./_typography.scss";
  composes: text-grey border-offgrey from "./_colors.scss";
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0 15px 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  max-width: 480px;
}
