.time {
  composes: sans large from "./partials/_typography.web.scss";
  composes: text-offgrey from "./partials/_colors.scss";
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 0 4em;
  max-width: 480px;
  line-height: 1em;
}
