@import 'partials/colors';
@import 'partials/typography.android';

wrap {
  padding: 0 0 35 0;
  margin-top: -10px;
}

time {
  @extend .text-grey, .huge, .sans;
  text-align: center;
  line-height: $size-huge + 5;
}
