$serif: Times New Roman, Times, Serif;
$sansserif: Lucida Grande, Helvetica, Arial, Sans-Serif;

$size-small: 0.8rem;
$size-medium: 1rem;
$size-large: 2rem;
$size-huge: 4rem;

.serif {
  font-family: $serif;
}

.sans {
  font-family: $sansserif;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: $size-small;
}

.medium {
  font-size: $size-medium;
}

.large {
  font-size: $size-large;
}

.huge {
  font-size: $size-huge;
}
