$serif: Times New Roman;
$sansserif: Helvetica Neue;

$size-small: 14;
$size-medium: 18;
$size-large: 32;
$size-huge: 80;

.serif {
  font-family: $serif;
}

.sans {
  font-family: $sansserif;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: $size-small;
}

.medium {
  font-size: $size-medium;
}

.large {
  font-size: $size-large;
}

.huge {
  font-size: $size-huge;
}
