$grey: #444;
$offgrey: #ddd;
$offwhite: #eee;
$alert: #e74c3c;

.background-offgrey {
  background-color: $offgrey;
}

.border-offgrey {
  border-color: $offgrey;
}

.text-offgrey {
  color: $offgrey;
}

.text-offwhite {
  color: $offwhite;
}

.text-grey {
  color: $grey;
}

.text-alert {
  color: $alert;
}
