.wrap {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
}

.spinner {
  composes: text-offgrey from "./colors.scss";
  transition: opacity 500ms ease-out;
  font-family: FontAwesome;
  font-size: 11rem;
  position: absolute;
  top: 8rem;
  left: -4rem;
  z-index: -1;
  color: whitesmoke;
  opacity: 0;

  &.loading {
    opacity: 1;
  }
}
